
button{
  height:85px;
  width: 85px;
}

body{
    background: #e7e7e7;
}

#div_caidodatos_e_teclas
{
    display:flex;
    flex-direction:row;
    margin-top:-3%
}

#candidatos
{
    display: flex;
    flex-direction: row;
    margin: 8% 0% 0% 5%;
    background: #D6E7E7;
    padding: 9% 5% 0% 25%;
    border-style: solid;
    border-color: #000;
}

#tela_numero
{
    margin: 0px 85px 0px 0px;
    border-style:solid;
}

#static_number_indicator
{
    margin: 0% -10% 0% -20%;
}

.chapas
{
    display: none;
    margin-top: 30%;
}

#teclas
{
    display:flex;
    flex-direction:column;
    align-items:end;
}

#numpadPai
{
    margin-right:8%;
    margin-top:-5.5%;
    background-color:#444444;
    padding: 40px 20px 20px 0px;

}

#numpad
{
    display: block;
    float:right;
    margin-top: -10%;
    margin-right: 10%;
    background-color: #444444;
    width: 250px;
}

#numpad button
{
    width: 60px;
    height: 60px;
    margin: 5px;
    background: black;
    color:white;
    font-size: 30px;
    float: right;
    border-style:solid;
    border-color:white;
}

#buttonON, #buttonOFF
{
    height:85px;
    width:100px;
    color:white;
}

#buttonOFF:active { border-style: outset;}

#candidatos img
{
    border-style: solid;
    background-color: #D6E7E7;
    width:200px;
    height:173px;
}
