body
{
    background-color: #E7E7E7;
}

@font-face
{
    font-family: Gabriola;
    src: url(gabriola.ttf);
}

#botaoInicio{
  height:75px;
  width: 350px;
  cursor:pointer;
}
#botaoInicio:hover
{
    border-style: solid;
    border-color: black;
}

#divPai
{
    background-color:#D6E7E7;
    border-style:solid;
    margin: 1% 2% 0.5% 2%;
}

#divFilho
{
    display:flex;
    flex-direction:row;
}

#GTI
{
    text-align: left;
    margin-top:-13%;
    margin-left: 15%;
}

#prefeitura
{
    border: 0px solid;
    width: 700px;
    height: 400px;
    margin-top: -6%;
}

#texto_boas_vindas
{
    margin-top: 4%;
    line-height: 50px;
    text-align: center;
    font-family: gabriola;
    color:white;
    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 2px 4px 5px #000;
}

#botaoInicio
{
    font-size: 50px;
    height: 75px;
    width:280px;
    background-color: #9CCE00;
    color:white;
}

#voteAqui
{
    margin: -4% 12% 5% 0%;
    text-align:right;
}
