@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", serif;
}

/*-----------------INICIO.HTML-----------------*/
#voteAqui > ul {
  display: flex;
  gap: 2rem;
}

#botaoInicio,
#botaoInicioR,
#botaoComecar,
#botaoContinuar {
  height: 70px;
  width: 200px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  background-color: #c1c1c1;
  color: white;
  border: none;
  border-radius: 10px;
}
#botaoInicio:hover,
#botaoInicioR:hover,
#botaoComecar:hover,
#botaoContinuar:hover {
  background-color: #1c3152;
}

.buttons-result {
  margin-top: 2rem;
}

#divPai {
  min-height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#divFilho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divFilho > img {
  width: 50%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.title > h1 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #1c3152;
}

.title > .sub-title {
  font-size: 1rem;
  color: #1c3152;
}

.title > .directors {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #1c3152;
}
/*-----------------INDEX.HTML-----------------*/

#div_caidodatos_e_teclas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  min-height: 72vh;
}

#candidatos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 400px;
  background: #2f528a;
  box-shadow: -4px 4px 0px 0px #1c3152;
  border-radius: 10px;
}

.background-chapa-img {
  background-color: #fff;
  width: 200px;
  height: 173px;
  border-radius: 10px;
  border: none;
}

.background-chapa-img > img {
  border: none;
}

.selected-number {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#tela_numero {
  border-style: solid;
  border: 1px solid #1c3152;
  height: 2.5rem;
  background-color: #fff;
  color: #1c3152;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#static_number_indicator {
  color: #fff;
  font-size: 1.5rem;
}

.chapas {
  display: none;
}

#teclas {
  display: flex;
  flex-direction: column;
}

#numpadPai {
  background-color: #444444;
  padding: 40px 20px 20px 0px;
  border-radius: 10px;
  box-shadow: -4px 4px 0px 0px #292929;
}

#numpadPai button {
  height: 85px;
  width: 85px;
  cursor: pointer;
  border-radius: 10px;
}

#numpad {
  display: block;
  float: right;
  margin-top: -10%;
  margin-right: 10%;
  background-color: #444444;
  width: 250px;
}

#numpad button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
  background: black;
  color: white;
  font-size: 30px;
  float: right;
}

#buttonON,
#buttonOFF {
  height: 85px;
  width: 100px;
  color: white;
}

.white {
  background-color: #fff;
  border: none;
  border-radius: 10px;
}

.to-correct {
  background-color: #df6d46;
  border: none;
  border-radius: 10px;
}

.confirm {
  background-color: #3ab54a;
  border: none;
  border-radius: 10px;
}

#buttonOFF:active {
  border-style: outset;
}

#candidatos img {
  width: 200px;
  height: 173px;
}

#finalizar {
  text-align: center;
  margin-bottom: 4rem;
}

#finalizar > button {
  background-color: #c1c1c1;
  color: #fff;
  height: 70px;
  width: 200px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1em;
}

#finalizar > button:hover {
  background-color: #1c3152;
}

/*-----------------FINAL.HTML-----------------*/

#elementos {
  border-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  align-items: center;
  justify-content: center;
}

#elementos h1 {
  color: #1c3152;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
}
